<section class="section section--fullscreen section--quote section--our-approach"
         data-fullpage-section="our-approach">
    <article class="section__content section__content--fullscreen section__content--quote section__content--our-approach section__content--center section__content--our-approach"
             style="background-image:url(https://byjakt.com/wp-content/uploads/2017/09/bg-stars-light-quote.svg)">

    <div class="o-container">
        <div class="section__content-wrapper">
            <h2 class="section__content-title section__content-title--quote futura-title">
                Our Approach
            </h2>
            <div class="section__content-text text-visibility">
                <p style="text-align: left;"><span style="font-weight: 400;">Building the best product requires first understanding the problem. This is the foundation of everything we do. Only then can we identify the best solution to that problem, which is both a solution that customers love and is viable from a business standpoint. </span></p>
                <p style="text-align: left;">Pixel perfect designs, mobile apps, websites. These aren’t solutions, these are tools, just like countless other things in our toolbox like blockchain, voice apps, artificial intelligence, graphic design, facebook ads, etc.</p>
                <p style="text-align: left;">Our toolbox is extensive, diverse, and constantly growing; but tools are only valuable if you know which to use and how to use them.</p>

            </div>
        </div>
    </div>
    <article>
</section>
