<section class="section section--fullscreen section--brands section--partners"
         data-fullpage-section="partners">
    <article class="section__content section__content--fullscreen section__content--brands section__content--partners section__content--left section__content--partners">

    <div class="section__brands">
        <div class="section__brands-wrapper">
            <h2 class="section__brands-title--mobile futura-title">Our Partners</h2>
            <div class="section__brands-block-text">
                <h2 class="section__brands-title text-visibility">
                    We work with top companies to solve big problems.
                </h2>

                <a class="o-link o-link--size-medium o-link--normal o-link--light text-visibility"
                   href="https://byjakt.com/partners/">see more</a>
            </div>

            <div class="section__brands-content">
                <div class="section__brands-items">
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/airtime.png" class="section__brands-img" />
                    </div>
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/netflix-1.png" class="section__brands-img" />
                    </div>
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/jopwell-2.png" class="section__brands-img" />
                    </div>
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/slash.png" class="section__brands-img" />
                    </div>
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/montejo-1.png" class="section__brands-img" />
                    </div>
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/ideo-1.png" class="section__brands-img" />
                    </div>
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/alley.png" class="section__brands-img" />
                    </div>
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/squadup-1.png" class="section__brands-img" />
                    </div>
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/vegas.png" class="section__brands-img" />
                    </div>
                </div>
                <div class="section__brands-items">
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/airtime.png" class="section__brands-img" />
                    </div>
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/netflix-1.png" class="section__brands-img" />
                    </div>
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/jopwell-2.png" class="section__brands-img" />
                    </div>
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/slash.png" class="section__brands-img" />
                    </div>
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/montejo-1.png" class="section__brands-img" />
                    </div>
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/ideo-1.png" class="section__brands-img" />
                    </div>
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/alley.png" class="section__brands-img" />
                    </div>
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/squadup-1.png" class="section__brands-img" />
                    </div>
                    <div class="section__brands-item">
                        <img src="https://byjakt.com/wp-content/uploads/2017/09/vegas.png" class="section__brands-img" />
                    </div>
                </div>
            </div>

            <div class="section__brands-link-mobile">
                <a class="o-link o-link--size-medium o-link--normal o-link--light text-visibility"
                   href="https://byjakt.com/partners/">see more</a>
            </div>
        </div>
    </div>
    <article>
</section>