<section class="section section--fullscreen section--light section--home"
         data-fullpage-section="home">
    <article class="section__content section__content--fullscreen section__content--light section__content--home section__content--center section__content--home"
             style="background-image:url(https://byjakt.com/wp-content/uploads/2017/09/bg-stars-dark.svg)">

    <div class="o-container">
        <div class="section__content-wrapper">
            <h2 class="section__content-title section__content-title--light futura-title">
                Digital Product & Innovation Studio
            </h2>

            <a class="o-link o-link--size-normal o-link--normal text-visibility"
               href="https://alex435847.typeform.com/to/vqT3dt">work with us</a>
        </div>
    </div>

    <article>
</section>