<div class=" djls28 fss64 _a _jm" data-_tn="job_listing_showcase/showcase_recommendations">
    <div class='recommendations showcase-section u-bgGray s-vgBorderTop1'>
        <div class='s-grid s-grid--outer u-maxWidthLayout'>
            <div class='s-grid-colSm24 s-vgBottom1'>
                <h3 class='u-textAlignCenter'>
                    People also viewed
                </h3>
            </div>
            <div class='s-grid-colLg6 s-grid-colMd8'>
                <div class='c-insetC s-vgBottom1 job-container u-bgWhite'>
                    <div class='logo s-vgBottom1 u-textAlignCenter'><a href="https://angel.co/coffee-meets-bagel/jobs?src=rec"><img alt="" src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/84150-a51f11c43ea386a3de7ef2a5f342d313-thumb_jpg.jpg?buster=1382465272" /></a></div>
                    <div class='company u-fontSize16 u-fontWeight200'><a href="https://angel.co/coffee-meets-bagel/jobs?src=rec">Coffee Meets Bagel</a></div>
                    <div class='location u-colorGray8'>San Francisco, Seattle</div>
                </div>
            </div>
            <div class='s-grid-colLg6 s-grid-colMd8'>
                <div class='c-insetC s-vgBottom1 job-container u-bgWhite'>
                    <div class='logo s-vgBottom1 u-textAlignCenter'><a href="https://angel.co/instacart/jobs?src=rec"><img alt="" src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/131716-ec50ba6b52bf0edc889bc3a6dae17493-thumb_jpg.jpg?buster=1452745201" /></a></div>
                    <div class='company u-fontSize16 u-fontWeight200'><a href="https://angel.co/instacart/jobs?src=rec">Instacart</a></div>
                    <div class='location u-colorGray8'>San Francisco</div>
                </div>
            </div>
            <div class='s-grid-colLg6 s-grid-colMd8'>
                <div class='c-insetC s-vgBottom1 job-container u-bgWhite'>
                    <div class='logo s-vgBottom1 u-textAlignCenter'><a href="https://angel.co/consensys/jobs?src=rec"><img alt="" src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/585912-301eec4556a2226fe4023ec0cec0a70e-thumb_jpg.jpg?buster=1441848684" /></a></div>
                    <div class='company u-fontSize16 u-fontWeight200'><a href="https://angel.co/consensys/jobs?src=rec">ConsenSys</a></div>
                    <div class='location u-colorGray8'>Brooklyn</div>
                </div>
            </div>
            <div class='s-grid-colLg6 s-grid-colMd8'>
                <div class='c-insetC s-vgBottom1 job-container u-bgWhite'>
                    <div class='logo s-vgBottom1 u-textAlignCenter'><a href="https://angel.co/forkable/jobs?src=rec"><img alt="" src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/251699-1b3c254e4b62dda6da97518fdad262a1-thumb_jpg.jpg?buster=1448319402" /></a></div>
                    <div class='company u-fontSize16 u-fontWeight200'><a href="https://angel.co/forkable/jobs?src=rec">Forkable</a></div>
                    <div class='location u-colorGray8'>San Francisco</div>
                </div>
            </div>
            <div class='s-grid-colLg6 s-grid-colMd8'>
                <div class='c-insetC s-vgBottom1 job-container u-bgWhite'>
                    <div class='logo s-vgBottom1 u-textAlignCenter'><a href="https://angel.co/mapfit/jobs?src=rec"><img alt="" src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/4352898-61a9f6b8bb46aaed3401f4416a8e7e03-thumb_jpg.jpg?buster=1509566184" /></a></div>
                    <div class='company u-fontSize16 u-fontWeight200'><a href="https://angel.co/mapfit/jobs?src=rec">Mapfit</a></div>
                    <div class='location u-colorGray8'>New York City</div>
                </div>
            </div>
            <div class='s-grid-colLg6 s-grid-colMd8'>
                <div class='c-insetC s-vgBottom1 job-container u-bgWhite'>
                    <div class='logo s-vgBottom1 u-textAlignCenter'><a href="https://angel.co/angellist/jobs?src=rec"><img alt="" src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/6702-766d1ce00c99ce9a5cbc19d0c87a436e-thumb_jpg.jpg?buster=1367604615" /></a></div>
                    <div class='company u-fontSize16 u-fontWeight200'><a href="https://angel.co/angellist/jobs?src=rec">AngelList</a></div>
                    <div class='location u-colorGray8'>San Francisco, New York City</div>
                </div>
            </div>
            <div class='s-grid-colLg6 s-grid-colMd8'>
                <div class='c-insetC s-vgBottom1 job-container u-bgWhite'>
                    <div class='logo s-vgBottom1 u-textAlignCenter'><a href="https://angel.co/aaptiv/jobs?src=rec"><img alt="" src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/478602-8297c2bb2de972d128bafe247ff01776-thumb_jpg.jpg?buster=1526390833" /></a></div>
                    <div class='company u-fontSize16 u-fontWeight200'><a href="https://angel.co/aaptiv/jobs?src=rec">Aaptiv</a></div>
                    <div class='location u-colorGray8'>New York City</div>
                </div>
            </div>
            <div class='s-grid-colLg6 s-grid-colMd8'>
                <div class='c-insetC s-vgBottom1 job-container u-bgWhite'>
                    <div class='logo s-vgBottom1 u-textAlignCenter'><a href="https://angel.co/airtable/jobs?src=rec"><img alt="" src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/623000-9d210a39051abc7accec1dc686888dcc-thumb_jpg.jpg?buster=1475019890" /></a></div>
                    <div class='company u-fontSize16 u-fontWeight200'><a href="https://angel.co/airtable/jobs?src=rec">Airtable</a></div>
                    <div class='location u-colorGray8'>San Francisco</div>
                </div>
            </div>
            <div class='s-grid-colLg6 s-grid-colMd8 u-hiddenLgOnly'>
                <div class='c-insetC s-vgBottom1 job-container u-bgWhite'>
                    <div class='logo s-vgBottom1 u-textAlignCenter'><a href="https://angel.co/artsy/jobs?src=rec"><img alt="" src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/516-6f81e587aba9e57bcfe8a9eace707290-thumb_jpg.jpg?buster=1397676864" /></a></div>
                    <div class='company u-fontSize16 u-fontWeight200'><a href="https://angel.co/artsy/jobs?src=rec">Artsy</a></div>
                    <div class='location u-colorGray8'>New York City</div>
                </div>
            </div>
        </div>
    </div>
</div>
