<div class=" djls28 ffr55 _a _jm" data-_tn="job_listing_showcase/footer">
    <div class='footer showcase-section u-bgGray'>
        <div class='s-grid s-grid--outer u-maxWidthLayout'>
            <div class='s-grid-colMd16'>
                <div class='info u-fontSize21 s-vgBottom0_5 u-colorGray6'>
                    Jakt is one of 26,283 startups hiring on AngelList
                </div>
                <div class='data-div u-hidden' data-startup_hiring='1' data-startup_name='Jakt'></div>
            </div>
            <div class='s-gridC-colMd8'>
                <div class='footer-actions'>
                    <a class="c-button c-button--blue js-browse-all-jobs" href="/jobs">Browse All Startup Jobs</a>
                    <a class="c-button c-button--gray js-post-a-job s-vgLeft0_5" href="https://angel.co/recruiting/signup?src=job-showcase">Post a Job</a>
                </div>
            </div>
            <div class='s-grid-colMd24 u-colorGray9'>
                <a class="u-uncoloredLink" href="/help/talent">Help</a>
                &middot;
                <a class="u-uncoloredLink" href="/terms">Terms</a>
                &middot;
                <a class="u-uncoloredLink" href="/directory/jobs/locations">Jobs by location</a>
            </div>
        </div>
    </div>
</div>
