<body class='' id='layouts-base-body'>

    <div data-show-wvyp-modal="null" class="job-showcase-wrapper djls28 fix36 _a _jm" data-_tn="job_listing_showcase/index">
        <div data-scroll-to-section="null" class=" djls28 fnv25 _a _jm" data-_tn="job_listing_showcase/nav">
            <div class='fixed-nav header-nav'>
                <div class='s-grid s-grid--outer u-maxWidthLayout'>
                    <div class='s-grid-colSm24'>
                        <div class='logo u-inlineBlock g-photo_container'>
                            <a class="startup-link" title="Jakt" data-type="Startup" data-id="377860" href="https://angel.co/jakt"><img class="angel_image" alt="Jobs at Jakt" src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/377860-e01e465d6a32095451c004e42d5f8d90-medium_jpg.jpg?buster=1480711854" /></a>
                        </div>
                        <div class='u-inlineBlock s-vgPadLeft0_5'></div>
                        <ul class='job-showcase c-navbar u-inline u-uppercase'>
                            <li class='u-inlineBlock'>
                                <a class='c-navbar-item' data-bounds_target='.hero' data-scroll_target='.hero'>
                                    Jakt
                                </a>
                            </li>
                            <li class='u-inlineBlock'><a class='c-navbar-item' data-bounds_target='.jobs' data-scroll_target='.jobs'>Jobs</a></li>
                            <li class='u-inlineBlock'><a class='c-navbar-item nav-team' data-bounds_target='.team' data-scroll_target='.team'>Team</a></li>
                        </ul>
                        <div class='cta-container u-floatRight'>
                            <div class='top-apply-button u-inlineBlock'>
                                <div class=" djl87 job_listings fan13 apply_button _a _jm" data-startup_id="377860" data-startup_name="Jakt" data-startup-hiring="true" data-logged-in="false" data-startup="jakt" data-source="showcase_nav" data-_tn="job_listings/apply_button">
                                    <div class='js-success u-hidden'>
                                        <div class='buttons'>
                                            <a class='alternate c-button c-button--gray u-fontWeight600' href='javascript:void(0);'>
                                                <span class='fontello-ok' style='font-size: 0.9em'></span>
                                                Applied
                                            </a>
                                        </div>
                                    </div>
                                    <div class='js-qualifications-dropdown u-hidden qualifications-dropdown'></div>
                                    <div class='buttons js-apply applicant-flow-dropdown'>
                                        <a class="c-button c-button--blue  js-interested-button" rel="nofollow" href="javascript:void(0);">Apply Now</a>
                                        <div class='dropdown-align--right dropdown-menu job-dropdown-menu js-dropdown u-hidden' data-force-note='' data-selected-listing-id='307930' data-source='showcase_nav' data-startup-id='377860'>
                                            <div class='dropdown-nub-wrapper'></div>
                                            <div class='dropdown-nub'></div>
                                            <div class='dropdown-inner-menu dropdown-width--lg'>
                                                <div class='u-textAlignLeft'>
                                                    <div class='js-step js-user-note s-form'>
                                                        <div class='dropdown-item dropdown-title u-fontSize14 u-fontWeight500'>
                                                            Add a message to Jakt
                                                        </div>
<textarea class='autogrow user-note-textarea u-fontSize14 u-colorGray6 u-block' max_length='1000' placeholder='(optional) Write a note to Lauren Griffin  at Jakt. What excites you about Jakt? Why would you be a good fit?'></textarea>
                                                        <button class='apply-button c-button c-button--blue s-vgTop0_5 s-vgRight1 u-floatRight js-apply-button'>
                                                            Apply
                                                        </button>
                                                        <div class='cb'></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ApplicationModalContainer dsr5 shared-react frw65 react_view _a _jm" data-render="false" data-apollo="true" data-component-path="talent/components/ApplicationModalContainer" data-props="{&quot;startupId&quot;:377860}" data-_tn="shared/react/react_view"></div>
                                </div>
                            </div>
                            <div class='share-button-container u-inlineBlock'>
                                <div class=" ds31 shared fje97 job_showcase_share _a _jm" data-_tn="shared/job_showcase_share">
                                    <a class="c-button c-button--gray js-share-button" rel="nofollow" href="/job_pairings/promote/377860">Share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-hero_cover_photo_url="linear-gradient(45deg, #556886 0%, #c1c3d0 100%)" class=" djls28 fho30 _a _jm" data-_tn="job_listing_showcase/hero">
            <div class='hero' style='background-image: linear-gradient(45deg, #556886 0%, #c1c3d0 100%)'>
                <div class='s-grid s-grid--outer u-maxWidthLayout'>
                </div>
            </div>
            <div class='hero-content s-vgBorderBottom1 u-bgWhite'>
                <div class='s-grid s-grid--outer u-maxWidthLayout'>
                    <div class='hero-logo-wrapper s-vgPad0_5 s-vgPullTop3_5 u-bgWhite u-inlineBlock'>
                        <a class="startup-link" title="Jakt" data-type="Startup" data-id="377860" href="https://angel.co/jakt"><img class="angel_image" alt="Jakt" src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/377860-e01e465d6a32095451c004e42d5f8d90-medium_jpg.jpg?buster=1480711854" /></a>
                    </div>
                    <div class='company-summary s-grid-colSm24'>
                        <h1 class='u-colorGray3'>Jobs at Jakt</h1>
                        <div class='high-concept s-vgBottom2 u-colorGray6 u-fontSize16'><p>Digital product studio. Our mission: to positively impact the lives of 100M people by 2027</p></div>
                        <div class=" djls28 fpe40 _a _jm" data-_tn="job_listing_showcase/preamble">
                            <div class='preamble-section'>
                                <div class='s-grid s-grid--outer u-maxWidthLayout'>
                                    <div class='js-preamble-container preamble-container s-grid--preMd4 s-grid-colMd16'>
                                        <div class='js-preamble preamble u-fontSize16 u-colorGray6'>
                                            <p>Jakt is a growing digital innovation studio in NYC. We partner with companies of all sizes, from startups to enterprises, to create bespoke digital products that solve problems. We're on a mission to positively impact the lives of 100 million people by 2027 with solutions we've created.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Text box to add or edit preamble -->
                            </div>
                        </div>
                        <div class='action-buttons s-vgTop2_5 s-vgPullBottom0_5'>
                            <div class='button-container left-button-container'>
                                <div class=" djl87 job_listings fan13 apply_button _a _jm" data-startup_id="377860" data-startup_name="Jakt" data-startup-hiring="true" data-logged-in="false" data-startup="jakt" data-source="showcase_hero" data-_tn="job_listings/apply_button">
                                    <div class='js-success u-hidden'>
                                        <div class='buttons'>
                                            <a class='alternate c-button c-button--gray c-button--lg u-fontWeight600' href='javascript:void(0);'>
                                                <span class='fontello-ok' style='font-size: 0.9em'></span>
                                                Applied
                                            </a>
                                        </div>
                                    </div>
                                    <div class='js-qualifications-dropdown u-hidden qualifications-dropdown'></div>
                                    <div class='buttons js-apply applicant-flow-dropdown'>
                                        <a class="c-button c-button--blue  c-button--lg c-button--lg js-interested-button" rel="nofollow" href="javascript:void(0);">Apply Now</a>
                                        <div class='dropdown-align--left dropdown-menu job-dropdown-menu js-dropdown u-hidden' data-force-note='' data-selected-listing-id='307930' data-source='showcase_hero' data-startup-id='377860'>
                                            <div class='dropdown-nub-wrapper'></div>
                                            <div class='dropdown-nub'></div>
                                            <div class='dropdown-inner-menu dropdown-width--lg'>
                                                <div class='u-textAlignLeft'>
                                                    <div class='js-step js-user-note s-form'>
                                                        <div class='dropdown-item dropdown-title u-fontSize14 u-fontWeight500'>
                                                            Add a message to Jakt
                                                        </div>
<textarea class='autogrow user-note-textarea u-fontSize14 u-colorGray6 u-block' max_length='1000' placeholder='(optional) Write a note to Lauren Griffin  at Jakt. What excites you about Jakt? Why would you be a good fit?'></textarea>
                                                        <button class='apply-button c-button c-button--blue s-vgTop0_5 s-vgRight1 u-floatRight js-apply-button'>
                                                            Apply
                                                        </button>
                                                        <div class='cb'></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ApplicationModalContainer dsr5 shared-react frw65 react_view _a _jm" data-render="false" data-apollo="true" data-component-path="talent/components/ApplicationModalContainer" data-props="{&quot;startupId&quot;:377860}" data-_tn="shared/react/react_view"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class='cb'></div>
            </div>
        </div>
        <div class='cb'></div>
        <div class=" djls28 fjs30 _a _jm" data-_tn="job_listing_showcase/jobs">
            <div class='jobs s-vgBorderTop1 showcase-section u-bgWhite'>
                <div class='s-grid s-grid--outer u-maxWidthLayout'>
                    <h2>
                        Jobs at Jakt
                    </h2>
                    <ul class='job-listings'>
                        <li class='job-listing-role s-vgPadBottom1_5 s-vgBottom2'>
                            <div class='group s-grid-colMd6 u-fontSize18 s-vgPadTop0_5'>
                                Software Engineering Jobs
                            </div>
                            <div class='group-listings s-grid-colMd18'>
                                <div class='s-grid s-grid--outer'>
                                    <div class='listing s-grid-colSm24 s-vgPadTop0_5 s-vgPadBottom0_5 u-fontSize14'>
                                        <div class='listing-title s-grid-colSm18'>
                                            <a class="u-fontSize18" href="https://angel.co/jakt/jobs/307930-front-end-engineer">Front-End Engineer</a>
                                            <div class='listing-data u-colorGray9'>
                                                New York City
                                                &middot;
                                                Full Time
                                                <span class='listing-break'></span>
                                                <span class='listing-break-middot'>
                                                    &middot;
                                                    $65k &ndash; $120k · No equity
                                                </span>
                                            </div>
                                        </div>
                                        <div class='listing-actions s-grid-colSm6'>
                                            <div class='listing-button s-vgTop0_5 u-floatRight'>
                                                <div class=" djl87 job_listings fan13 apply_button _a _jm" data-startup_id="377860" data-startup_name="Jakt" data-startup-hiring="true" data-logged-in="false" data-startup="jakt" data-source="showcase_all_jobs" data-job-listing="307930" data-_tn="job_listings/apply_button">
                                                    <div class='js-success u-hidden'>
                                                        <div class='buttons'>
                                                            <a class='alternate c-button c-button--gray u-fontWeight600' href='javascript:void(0);'>
                                                                <span class='fontello-ok' style='font-size: 0.9em'></span>
                                                                Applied
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class='js-qualifications-dropdown u-hidden qualifications-dropdown'></div>
                                                    <div class='buttons js-apply applicant-flow-dropdown'>
                                                        <a class="c-button c-button--blue  js-interested-button" rel="nofollow" href="javascript:void(0);">Apply</a>
                                                        <div class='dropdown-align--right dropdown-menu job-dropdown-menu js-dropdown u-hidden' data-force-note='' data-selected-listing-id='307930' data-source='showcase_all_jobs' data-startup-id='377860'>
                                                            <div class='dropdown-nub-wrapper'></div>
                                                            <div class='dropdown-nub'></div>
                                                            <div class='dropdown-inner-menu dropdown-width--lg'>
                                                                <div class='u-textAlignLeft'>
                                                                    <div class='js-step js-user-note s-form'>
                                                                        <div class='dropdown-item dropdown-title u-fontSize14 u-fontWeight500'>
                                                                            Add a message to Jakt
                                                                        </div>
<textarea class='autogrow user-note-textarea u-fontSize14 u-colorGray6 u-block' max_length='1000' placeholder='(optional) Write a note to Lauren Griffin  at Jakt. What excites you about Jakt? Why would you be a good fit?'></textarea>
                                                                        <button class='apply-button c-button c-button--blue s-vgTop0_5 s-vgRight1 u-floatRight js-apply-button'>
                                                                            Apply
                                                                        </button>
                                                                        <div class='cb'></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ApplicationModalContainer dsr5 shared-react frw65 react_view _a _jm" data-render="false" data-apollo="true" data-component-path="talent/components/ApplicationModalContainer" data-props="{&quot;startupId&quot;:377860}" data-_tn="shared/react/react_view"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='cb'></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div data-more-ids="[1042114,4377472,2104077,7840675,7505674,7424108,7114569]" data-startup-id="377860" class=" djls28 ftm23 _a _jm" data-_tn="job_listing_showcase/team">
            <div class='team showcase-section u-bgWhite s-vgBorderTop1'>
                <div class='s-grid s-grid--outer u-maxWidthLayout'>
                    <h2>
                        Jakt Team
                    </h2>
                    <div class='team-members'>
                        <div class="col2 dsol48 shared-object_list flt44 list _a" data-_tn="shared/object_list/list">
                            <div class='s-grid s-grid--outer'>
                                <div class="card s-vgBottom2_5 s-grid-colMd12 dsol48 shared-object_list fur47 user _a" data-_tn="shared/object_list/user">
                                    <div class='photo'>
                                        <a class="profile-link" data-type="User" data-id="568055" href="https://angel.co/anthony-tumbiolo"><img class="angel_image" alt="Anthony Tumbiolo" src="https://d1qb2nb5cznatu.cloudfront.net/users/568055-medium_jpg?1511043658" /></a>
                                    </div>
                                    <div class='details'>
                                        <div class='object-list-title'>
                                            <a href="https://angel.co/anthony-tumbiolo">Anthony Tumbiolo</a>
                                            <span class='comma'>,</span>
                                        </div>
                                        <div class='object-list-subtitle'>
                                            Founder <a href="https://angel.co/jakt" class="at_mention_link" target="_blank" title="Jakt" data-mention="true" data-type="Startup" data-id="377860" data-slug_id="1151535" data-name="jakt"><span class="at_mention_symbol"></span><span class="at_mention_slug">Jakt</span></a>, JAKT • Studied at <a href="https://angel.co/new-york-university" class="at_mention_link" target="_blank"><span class="at_mention_symbol"></span><span class="at_mention_slug">New York University</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card s-vgBottom2_5 s-grid-colMd12 dsol48 shared-object_list fur47 user _a" data-_tn="shared/object_list/user">
                                    <div class='photo'>
                                        <a class="profile-link" data-type="User" data-id="565099" href="https://angel.co/cody-musser"><img class="angel_image" alt="Cody Musser" src="https://d1qb2nb5cznatu.cloudfront.net/users/565099-medium_jpg?1405730120" /></a>
                                    </div>
                                    <div class='details'>
                                        <div class='object-list-title'>
                                            <a href="https://angel.co/cody-musser">Cody Musser</a>
                                            <span class='comma'>,</span>
                                        </div>
                                        <div class='object-list-subtitle'>
                                            Product <a href="https://angel.co/jakt" class="at_mention_link" target="_blank" title="Jakt" data-mention="true" data-type="Startup" data-id="377860" data-slug_id="1151535" data-name="jakt"><span class="at_mention_symbol"></span><span class="at_mention_slug">Jakt</span></a> | Formerly Design <a href="https://angel.co/stage-esports" class="at_mention_link" target="_blank" title="Stage Esports" data-mention="true" data-type="Startup" data-id="3846637" data-slug_id="10858053" data-name="stage-esports"><span class="at_mention_symbol"></span><span class="at_mention_slug">Stage Esports</span></a> &amp; CPO  Organize.org. Launched <a href="https://angel.co/librify" class="at_mention_link" target="_blank" title="Librify" data-mention="true" data-type="Startup" data-id="326244" data-slug_id="1006721" data-name="librify"><span class="at_mention_symbol"></span><span class="at_mention_slug">Librify</span></a> <a href="https://angel.co/bookish-1" class="at_mention_link" target="_blank" title="Bookish" data-mention="true" data-type="Startup" data-id="87042" data-slug_id="332782" data-name="bookish-1"><span class="at_mention_symbol"></span><span class="at_mention_slug">Bookish</span></a> &amp; <a href="https://angel.co/pikimal" class="at_mention_link" target="_blank" title="Pikimal" data-mention="true" data-type="Startup" data-id="40603" data-slug_id="221109" data-name="pikimal"><span class="at_mention_symbol"></span><span class="at_mention_slug">Pikimal</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card s-vgBottom2_5 s-grid-colMd12 dsol48 shared-object_list fur47 user _a" data-_tn="shared/object_list/user">
                                    <div class='photo'>
                                        <a class="profile-link" data-type="User" data-id="3223509" href="https://angel.co/christopher-swantz"><img class="angel_image" alt="Christopher Swantz" src="https://d1qb2nb5cznatu.cloudfront.net/users/3223509-medium_jpg?1508809445" /></a>
                                    </div>
                                    <div class='details'>
                                        <div class='object-list-title'>
                                            <a href="https://angel.co/christopher-swantz">Christopher Swantz</a>
                                            <span class='comma'>,</span>
                                        </div>
                                        <div class='object-list-subtitle'>
                                            Experience with Sketch, Omnigraffle, Adobe Creative. Built agency and startup products across ecommerce, fi-tech, and health-tech verticals. Went to Penn State.
                                        </div>
                                    </div>
                                </div>
                                <div class="card s-vgBottom2_5 s-grid-colMd12 dsol48 shared-object_list fur47 user _a" data-_tn="shared/object_list/user">
                                    <div class='photo'>
                                        <a class="profile-link" data-type="User" data-id="4346225" href="https://angel.co/jay-chmilewski"><img class="angel_image" alt="Jay Chmilewski" src="https://angel.co/images/shared/nopic.png" /></a>
                                    </div>
                                    <div class='details'>
                                        <div class='object-list-title'>
                                            <a href="https://angel.co/jay-chmilewski">Jay Chmilewski</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card s-vgBottom2_5 s-grid-colMd12 dsol48 shared-object_list fur47 user _a" data-_tn="shared/object_list/user">
                                    <div class='photo'>
                                        <a class="profile-link" data-type="User" data-id="3718072" href="https://angel.co/connor-swain"><img class="angel_image" alt="Connor Swain" src="https://d1qb2nb5cznatu.cloudfront.net/users/3718072-medium_jpg?1473734809" /></a>
                                    </div>
                                    <div class='details'>
                                        <div class='object-list-title'>
                                            <a href="https://angel.co/connor-swain">Connor Swain</a>
                                            <span class='comma'>,</span>
                                        </div>
                                        <div class='object-list-subtitle'>
                                            See full information at connorswain.co.uk
                                        </div>
                                    </div>
                                </div>
                                <div class="card s-vgBottom2_5 s-grid-colMd12 dsol48 shared-object_list fur47 user _a" data-_tn="shared/object_list/user">
                                    <div class='photo'>
                                        <a class="profile-link" data-type="User" data-id="134945" href="https://angel.co/marcio-marinho"><img class="angel_image" alt="Marcio Marinho" src="https://d1qb2nb5cznatu.cloudfront.net/users/134945-medium_jpg?1405531620" /></a>
                                    </div>
                                    <div class='details'>
                                        <div class='object-list-title'>
                                            <a href="https://angel.co/marcio-marinho">Marcio Marinho</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='cb'></div>
                    <div class='section-toggle js-show-more s-vgTop1'>
                        <span class='show-text'>See More</span>
                        <span class='loading-spinner hidden'><img alt="" src="https://angel.co/assets/shared/ajax-loader-567bc48f6f3d13eb4022283f94be4def6b27342a8709db0fcd7c5d3124c72b90.gif" /></span>
                    </div>
                    <div class='cb'></div>
                </div>
            </div>
        </div>


    </div>
    <div id='fb-root'></div>




</body>
