<section class="section section--fullscreen section--light section--the-jakt-method"
         data-fullpage-section="the-jakt-method">
    <article class="section__content section__content--fullscreen section__content--light section__content--the-jakt-method section__content--left section__content--the-jakt-method">

    <div class="o-container">
        <div class="section__content-wrapper">
            <h2 class="section__content-title section__content-title--light futura-title">
                The Jakt Method
            </h2>

            <div class="section__content-text text-visibility">
                <p>First and foremost, we seek clarity. What is the problem? Why is it a problem? Why do you want to solve it? What are your short term and long term goals? From there, we ask ourselves how we can combine business strategy, product strategy, design, technology and marketing to help you achieve them. With a clear understanding of the goals and values behind a project, we can implement mindful strategies and produce the solutions and products necessary to increase the odds of success.</p>
                <p>At Jakt, we are a collective of minds collaborating every day to produce the best possible work for our partners. As a partner you become part of the process, using your skills and expertise in collaboration with ours to solve problems, create products and build companies together.</p>

            </div>


        </div>
    </div>

    <article>
</section>
