
<div class="partners__wrapper">
    <div             
    
        class="partners__wrapper-content partners__wrapper-content--even"
    >
        <div             
    
            class="partners__content partners__content--even"
        >
            <h2 class="partners__title text-visibility" text-color="white">NETFLIX</h2>
            <div class="partners__text text-visibility"><p>We crafted a live brand experience in the heart of Times Square for their critically-acclaimed series, Orange Is the New Black.</p>
            </div>
        </div>
    </div>
    <div             
    
        class="partners__wrapper-img partners__wrapper-img--even"
    >
        <div             
    
            class="partners__content-img partners__content-img--even"
        >
            <img src="https://byjakt.com/wp-content/uploads/2017/09/netflix-bg@1x.png" alt=""             
    
                 class="partners__image partners__image--even"
            />
        </div>
    </div>
</div>
       
