<section class="hero"
         style="background-image:url(https://byjakt.com/wp-content/uploads/2017/09/bg-stars-light-quote.svg)">
    <article class="o-container">
        <div class="hero__wrapper">
            <h1 class="hero__title futura-title">There are no limits.</h1>

            <div class="hero__content text-visibility">
                <p>We’ve helped startups reach fundraising goals, generate revenue and join top accelerators like<span style="color: #f0652f;"> <a href="http://ycombinator.com/" target="_blank" rel="noopener"><span class="color-ycomb">Y-Combinator</span></a></span> &amp;<span style="color: #22a64c;"> <a href="http://techstars.com/" target="_blank" rel="noopener"><span class="color-techstars">Techstars</span></a>.</span> We&#8217;ve also worked with Fortune 500 companies to create new and innovative digital experiences. In every project, each company is more than a client — we become their partner.</p>
            </div>

            <a href="https://byjakt.com/contact/" class="hero__link text-visibility"> LET'S TALK</a>
        </div>
    </article>
</section>
