<section class="news">
    <div class="o-container">
        <h2 class="news__title text-visibility">Partner Press</h2>
        <div class="o-grid">
            <div class="o-grid__col-4--md o-grid__col-12--sm">
                <div class="news__item">

                    <h2 class="news__title news__title--item text-visibility">Guestfriend automates chatbot creation for restaurants</h2>

                    <img class="news__img" src="https://byjakt.com/wp-content/uploads/2018/04/23561551_1726633874054924_453295096744717517_n.png" />



                    <a href="https://techcrunch.com/2018/04/17/guestfriend-launch/" class="news__link text-visibility">READ STORY <i class="ti-arrow-right"></i></a>
                </div>
            </div>          <div class="o-grid__col-4--md o-grid__col-12--sm">
                <div class="news__item">
                    <div class="news__date text-visibility">January 19, 2018</div>

                    <h2 class="news__title news__title--item text-visibility">Launchmetrics Acquires Style Coalition</h2>

                    <img class="news__img" src="https://byjakt.com/wp-content/uploads/2018/01/22511-2_StyleCoaltionLogo-Secondary-RGB_400x400.png" />



                    <a href="https://www.businessoffashion.com/articles/news-bites/launchmetrics-acquires-style-coalition" class="news__link text-visibility">READ STORY <i class="ti-arrow-right"></i></a>
                </div>
            </div>          <div class="o-grid__col-4--md o-grid__col-12--sm">
                <div class="news__item">
                    <div class="news__date text-visibility">October 6, 2016</div>

                    <h2 class="news__title news__title--item text-visibility">These guys built an app to help minorities land jobs in tech&#8230;</h2>

                    <img class="news__img" src="https://byjakt.com/wp-content/uploads/2017/09/jopwell.png" />



                    <a href="http://www.businessinsider.com/jopwell-helps-minorities-land-jobs-in-tech-2016-10" class="news__link text-visibility">Read Story <i class="ti-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
