<article class="partners partners--even">
    <div class="partners__wrapper">
        <div class="partners__wrapper-content partners__wrapper-content--even">
            <div class="partners__content partners__content--even">
                <h2 class="partners__title text-visibility">JOPWELL</h2>
                <div class="partners__text text-visibility">
                    <p>We provided strategic feedback for marketplace growth and built their live platform, geared towards diversifying candidates in the job market.</p>
                </div>
            </div>
        </div>
        <div class="partners__wrapper-img partners__wrapper-img--even">
            <div class="partners__content-img partners__content-img--even">
                <img src="https://byjakt.com/wp-content/uploads/2017/09/jopwell-bg@1x.png" alt=""
                     class="partners__image partners__image--even" />
            </div>
        </div>
    </div>
</article>
