<article class="partners partners--odd">
    <div class="partners__wrapper">
        <div class="partners__wrapper-content partners__wrapper-content--odd">
            <div class="partners__content partners__content--odd">
                <h2 class="partners__title text-visibility">SLASH KEYBOARD</h2>
                <div class="partners__text text-visibility">
                    <p>We worked closely with the /Slash team to build a keyboard for iPhone and iPad that makes it easy to share anything, without switching apps.</p>
                </div>
            </div>
        </div>
        <div class="partners__wrapper-img partners__wrapper-img--odd">
            <div class="partners__content-img partners__content-img--odd">
                <img src="https://byjakt.com/wp-content/uploads/2017/09/slash-bg@1x.png" alt=""
                     class="partners__image partners__image--odd" />
            </div>
        </div>
    </div>
</article>
