<section class="partners partners--even">
    <div class="o-container partners__wrapper--list">
        <div class="partners__content--list">
            <h2 class="partners__title partners__title--list text-visibility">Some amazing companies we&#8217;ve had the pleasure to work with.</h2>
            <div class="partners__text partners__text--list text-visibility">
                <p>SELECTED CLIENTS</p>
            </div>
        </div>
        <ul class="partners__list">
            <li class="partners__list-item">
                <a href="http://www.airtime.com/?ref=byjakt.com" class="partners__list-link text-visibility">Airtime</a>
            </li>
            <li class="partners__list-item">
                <a href="https://www.jopwell.com/?ref=byjakt.com" class="partners__list-link text-visibility">JOPWELL</a>
            </li>
            <li class="partners__list-item">
                <a href="https://youralley.com/?ref=byjakt.com" class="partners__list-link text-visibility">AlleyNYC</a>
            </li>
            <li class="partners__list-item">
                <a href="https://www.nbcot.org/?ref=byjakt.com" class="partners__list-link text-visibility">NBCOT</a>
            </li>
            <li class="partners__list-item">
                <a href="https://www.altaipsum.com/?ref=byjakt.com" class="partners__list-link text-visibility">AltaIpsum</a>
            </li>
            <li class="partners__list-item">
                <a href="https://www.netflix.com/?ref=byjakt.com" class="partners__list-link text-visibility">Netflix</a>
            </li>
            <li class="partners__list-item">
                <a href="http://www.anheuser-busch.com/?ref=byjakt.com" class="partners__list-link text-visibility">Anheuser-Busch</a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__list-link text-visibility">Rally</a>
            </li>
            <li class="partners__list-item">
                <a href="https://www.citelighter.com/?ref=byjakt.com" class="partners__list-link text-visibility">Citelighter</a>
            </li>
            <li class="partners__list-item">
                <a href="https://cityrow.com/?ref=byjakt.com" class="partners__list-link text-visibility">CITYROW</a>
            </li>
            <li class="partners__list-item">
                <a href="https://www.rdv.io/?ref=byjakt.com" class="partners__list-link text-visibility">RDV</a>
            </li>
            <li class="partners__list-item">
                <a href="https://www.lasvegasnevada.gov/?ref=byjakt.com" class="partners__list-link text-visibility">City of Las Vegas</a>
            </li>
            <li class="partners__list-item">
                <a href="http://tapslash.com/?ref=byjakt.com" class="partners__list-link text-visibility">Slash</a>
            </li>
            <li class="partners__list-item">
                <a href="https://itunes.apple.com/us/app/crashr/id971934718?mt=8?ref=byjakt.com" class="partners__list-link text-visibility">Crashr</a>
            </li>
            <li class="partners__list-item">
                <a href="https://www.squadup.com/?ref=byjakt.com" class="partners__list-link text-visibility">SquadUp</a>
            </li>
            <li class="partners__list-item">
                <a href="http://fratmusic.com/?ref=byjakt.com" class="partners__list-link text-visibility">fratmusic</a>
            </li>
            <li class="partners__list-item">
                <a href="https://www.stylecoalition.com/?ref=byjakt.com" class="partners__list-link text-visibility">Style Coalition</a>
            </li>
            <li class="partners__list-item">
                <a href="https://www.ideo.com/?ref=byjakt.com" class="partners__list-link text-visibility">ideo</a>
            </li>
            <li class="partners__list-item">
                <a href="http://www.wallmural.com/?ref=byjakt.com" class="partners__list-link text-visibility">wall mural</a>
            </li>
            <li class="partners__list-item">
                <a href="https://www.getguestfriend.com/" class="partners__list-link text-visibility">Guestfriend</a>
            </li>
            <li class="partners__list-item">
                <a href="https://www.crushedtonic.com/" class="partners__list-link text-visibility">Crushed Tonic</a>
            </li>
            <li class="partners__list-item">
                <a href="https://www.mapfit.com" class="partners__list-link text-visibility">Mapfit</a>
            </li>
        </ul>
    </div>
</section>
