<section class="section section--fullscreen section--light section--our-philosophy"
         data-fullpage-section="our-philosophy">
    <article class="section__content section__content--fullscreen section__content--light section__content--our-philosophy section__content--left section__content--our-philosophy"
             style="background-image:url(https://byjakt.com/wp-content/uploads/2017/09/bg-stars-dark-vertical.svg)">

    <div class="o-container">
        <div class="section__content-wrapper">
            <h2 class="section__content-title section__content-title--light futura-title">
                My Philosophy
            </h2>

            <div class="section__content-text text-visibility">
                <p>Our philosophy is simple. We are committed to creating innovative solutions with any business, brand or individual looking to make an impact. We’ve been refining our process since 2012. With each new project we bring everything we’ve learned to the table while gaining new insight that may better our process even more for the future. We treat our process like a product: we’re constantly innovating on it using the same framework and methods we use to build digital products and businesses.</p>

            </div>

            <div class="block-line text-visibility">When you partner with Jakt, you get the benefit of years of work and hundreds of projects which have all contributed to the creation and refinement of the our approach & methodology.</div>
        </div>
    </div>

    <article>
</section>
