<footer class="footer">
    <div class="o-container">
        <div class="o-grid">
            <div class="o-grid__col-4--sm">
                <h3 class="footer__content-title text-visibility">NEW YORK OFFICE</h3>
                <div class="footer__content-address text-visibility">
                    <p>
                        85 Broad St, Floor 30<br />
                        New York, NY 10004<br />
                        (917) 410-1135<br />
                        info@byjakt.com
                    </p>
                </div>
            </div>
            <div class="o-grid__col-3--sm footer__content-logo">
                <a class="footer__link" href="/">
                    <img class="footer__logo-img" src="https://byjakt.com/wp-content/themes/jakt/public/assets/images/jakt-white-logo.svg" alt="JAKT" />
                </a>
                <div class="footer__copy text-visibility">
                    Handcrafted by Jakt © 2019
                </div>
                <nav>
                    <a class="footer__home-social-media-item footer__home-social-media-item--light" target="_blank" href="http://twitter.com/byjakt">
                        <i class="ti-twitter-alt"></i>
                    </a>
                    <a class="footer__home-social-media-item footer__home-social-media-item--light" target="_blank" href="http://facebook.com/byjakt">
                        <i class="ti-facebook"></i>
                    </a>
                    <a class="footer__home-social-media-item footer__home-social-media-item--light" target="_blank" href="http://instagram.com/byjakt">
                        <i class="ti-instagram"></i>
                    </a>
                    <a class="footer__home-social-media-item footer__home-social-media-item--light" target="_blank" href="https://medium.com/thoughts-byjakt/">
                        <i class="fa fa-medium"></i>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</footer>
