<section class="hero hero--left">
    <article class="o-container">
        <div class="hero__wrapper">
            <h1 class="hero__title futura-title">No matter the medium, our focus is the user journey.</h1>

            <div class="hero__content hero__content--left text-visibility">
                <p>We utilize design thinking, coupled with a deep understanding of your KPIs and business initiatives in everything we do. Our goal is to dramatically increase the odds of success, ensuring our process is 100% aligned with your time and investment.</p>
            </div>

            <a href="https://byjakt.com/process/#plan" class="hero__link text-visibility"> Let's begin</a>
        </div>
    </article>
</section>
