<section class="process process--darken"
         id="sprint">
    <div class="o-container">
        <div class="o-grid">
            <div class="o-grid__col-12--sm">
                <h2 class="process__header futura-title">SPRINT</h2>
            </div>
        </div>
        <article class="process__text">
            <h2 class="process__text-title futura-title">FOCUS BRINGS RESULTS</h2>
            <div class="process__text-content text-visibility">
                <p>We move in two-week sprints to bring the product to life. Each sprint is focused around goals within the areas below.</p>
            </div>

            <div class="o-grid">
                <div class="o-grid__list-4--sm o-grid__list-4--md o-grid__list-4--lg block__icon">
                    <i class="ti-palette block__icon-item"></i>
                    <h3 class="block__icon-title futura-title text-visibility">DESIGN</h3>
                    <div class="block__icon-text text-visibility">
                        <p>
                            Brand Identity<br />
                            User Flows<br />
                            Design Systems<br />
                            High Fidelity Prototypes
                        </p>
                    </div>
                </div>
                <div class="o-grid__list-4--sm o-grid__list-4--md o-grid__list-4--lg block__icon">
                    <i class="ti-harddrives block__icon-item"></i>
                    <h3 class="block__icon-title futura-title text-visibility">BUILD</h3>
                    <div class="block__icon-text text-visibility">
                        <p>
                            Multiple Environments<br />
                            Scalable Foundation<br />
                            3rd-Party Integrations<br />
                            Ad-Hoc Builds
                        </p>
                    </div>
                </div>
                <div class="o-grid__list-4--sm o-grid__list-4--md o-grid__list-4--lg block__icon">
                    <i class="ti-mobile block__icon-item"></i>
                    <h3 class="block__icon-title futura-title text-visibility">REVIEW</h3>
                    <div class="block__icon-text text-visibility">
                        <p>
                            Code Review<br />
                            Stress Testing<br />
                            Responsive Check<br />
                            No Warnings
                        </p>
                    </div>
                </div>
                <div class="o-grid__list-4--sm o-grid__list-4--md o-grid__list-4--lg block__icon">
                    <i class="ti-control-play block__icon-item"></i>
                    <h3 class="block__icon-title futura-title text-visibility">DEPLOY</h3>
                    <div class="block__icon-text text-visibility">
                        <p>
                            App Store Submissions<br />
                            Strategic Metrics<br />
                            Scheduled Releases<br />
                            Multiple Platforms
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
