<section class="section__highlight" style="background-image:url(https://byjakt.com/wp-content/uploads/2018/07/process-highlight-optimized.jpg)">
    <div class="o-container">
        <h2 class="section__highlight-title futura-title">READY TO GET STARTED?</h2>

        <a class="o-btn o-btn--border-ligth  o-btn--large text-visibility" href="https://www.byjakt.com/contact">LET'S TALK</a>
    </div>
</section>
