<section class="news"
         class="news news--ligther">
    <div class="o-container">
        <h2 class="news__title text-visibility">Thoughts By Jakt</h2>
        <div class="o-grid">
            <div class="o-grid__col-4--md o-grid__col-12--sm">
                <div class="news__item">
                    <div class="news__date text-visibility">February 8, 2019</div>

                    <h2 class="news__title news__title--item text-visibility">Jakt 2019 Initiatives</h2>


                    <img class="news__avatar" src="https://secure.gravatar.com/avatar/686f82d0ae21c875eda5eb8f66f3aee7?s=96&d=mm&r=g" />

                    <h3 class="news__author text-visibility">By marketing</h3>

                    <a href="https://byjakt.com/jakt-2019-initiatives/" class="news__link text-visibility">READ MORE <i class="ti-arrow-right"></i></a>
                </div>
            </div>                      <div class="o-grid__col-4--md o-grid__col-12--sm">
                <div class="news__item">
                    <div class="news__date text-visibility">February 7, 2019</div>

                    <h2 class="news__title news__title--item text-visibility">Jakt 2018 Yearly Financial Results</h2>


                    <img class="news__avatar" src="https://secure.gravatar.com/avatar/b3782e2b4b0faf27a31ca2bbf1dfcaea?s=96&d=mm&r=g" />

                    <h3 class="news__author text-visibility">By Cody Musser</h3>

                    <a href="https://byjakt.com/jakt-2018-yearly-financial-results/" class="news__link text-visibility">READ MORE <i class="ti-arrow-right"></i></a>
                </div>
            </div>                      <div class="o-grid__col-4--md o-grid__col-12--sm">
                <div class="news__item">
                    <div class="news__date text-visibility">February 7, 2019</div>

                    <h2 class="news__title news__title--item text-visibility">Jakt December 2018 Financial Results</h2>


                    <img class="news__avatar" src="https://secure.gravatar.com/avatar/686f82d0ae21c875eda5eb8f66f3aee7?s=96&d=mm&r=g" />

                    <h3 class="news__author text-visibility">By marketing</h3>

                    <a href="https://byjakt.com/jakt-december-2018-financial-results/" class="news__link text-visibility">READ MORE <i class="ti-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
