<section class="process process--light"
         id="plan">
    <div class="o-container">
        <div class="o-grid">
            <div class="o-grid__col-12--sm">
                <h2 class="process__header futura-title">PLAN</h2>
            </div>
        </div>
        <article class="process__flag o-grid">
            <div class="o-grid__col-6--sm">
                <div class="process__flag-content">
                    <h3 class="process__flag-content-title futura-title">LET'S MEET</h3>

                    <div class="process__flag-content-text text-visibility">
                        <p>Our first step is to meet with you and understand the underlying problem you are trying to solve. We&#8217;ll draw up a roadmap for our engagement and get started.</p>
                    </div>

                </div>
            </div>
            <div class="o-grid__col-6--sm">
                <img src="https://byjakt.com/wp-content/uploads/2017/09/plan.jpg" alt="" class="process__flag-img" />
            </div>
        </article>
    </div>
</section>
