<section class="process process--light"
         id="grow">
    <div class="o-container">
        <div class="o-grid">
            <div class="o-grid__col-12--sm">
                <h2 class="process__header futura-title">GROW</h2>
            </div>
        </div>
        <article class="process__report o-grid">
            <div class="o-grid__col-4--md o-grid__col-5--sm">
                <h3 class="process__report-title futura-title">SET UP FOR SUCCESS</h3>
                <div class="process__report-text text-visibility">
                    <p>Don&#8217;t know why visitors are not converting? Not sure what KPI&#8217;s are vital to your success? We&#8217;ll be there to keep you on track.</p>
                    <ul>
                        <li>Acquisition Strategy</li>
                        <li>Event Automation</li>
                        <li>A/B + Multi-variate Testing</li>
                        <li>Conversion Optimization</li>
                        <li>Custom Dashboards</li>
                        <li>Funnel Creation</li>
                        <li>Drip Campaigns</li>
                        <li>Outreach Strategy</li>
                        <li>Maintenance &amp; Monitoring</li>
                    </ul>
                </div>
            </div>
            <div class="o-grid__col-8--md o-grid__col-7--sm">
                <div class="process__report-content-img">
                    <img src="https://byjakt.com/wp-content/uploads/2017/09/growth-side-bg-1.png" alt="" class="process__report-img" />
                </div>
            </div>
        </article>
    </div>
</section>
