<section class="process process--gray"
         id="research">
    <div class="o-container">
        <div class="o-grid">
            <div class="o-grid__col-12--sm">
                <h2 class="process__header futura-title">RESEARCH</h2>
            </div>
        </div>
        <article class="o-grid">
            <div class="o-grid__list-3--md o-grid__list-3--lg block__bordered">
                <div class="block__bordered-content">
                    <div class="block__bordered-order futura-title">01.</div>

                    <h2 class="block__bordered-title text-visibility">THE WHY</h2>

                    <div class="block__bordered-text text-visibility">
                        <p>What is your company’s mission and its vision? What are your organization’s core values?</p>
                    </div>
                </div>
            </div>
            <div class="o-grid__list-3--md o-grid__list-3--lg block__bordered">
                <div class="block__bordered-content">
                    <div class="block__bordered-order futura-title">02.</div>

                    <h2 class="block__bordered-title text-visibility">YOUR BUSINESS</h2>

                    <div class="block__bordered-text text-visibility">
                        <p>What are your company&#8217;s most important KPIs? Tell us about near- and long-term targets. Competitors?</p>
                    </div>
                </div>
            </div>
            <div class="o-grid__list-3--md o-grid__list-3--lg block__bordered">
                <div class="block__bordered-content">
                    <div class="block__bordered-order futura-title">03.</div>

                    <h2 class="block__bordered-title text-visibility">USER PERSONAS</h2>

                    <div class="block__bordered-text text-visibility">
                        <p>Description of target users including needs, behaviors and wishes. Tell us about customer insights.</p>
                    </div>
                </div>
            </div>
            <div class="o-grid__list-3--md o-grid__list-3--lg block__bordered">
                <div class="block__bordered-content">
                    <div class="block__bordered-order futura-title">04.</div>

                    <h2 class="block__bordered-title text-visibility">CRITICAL PATH</h2>

                    <div class="block__bordered-text text-visibility">
                        <p>What’s the user journey today from problem to solution? Let’s talk about your user’s critical path.</p>
                    </div>
                </div>
            </div>
            <div class="o-grid__list-3--md o-grid__list-3--lg block__bordered">
                <div class="block__bordered-content">
                    <div class="block__bordered-order futura-title">05.</div>

                    <h2 class="block__bordered-title text-visibility">VISUAL INSPIRATIONS</h2>

                    <div class="block__bordered-text text-visibility">
                        <p>What are the inspirational keywords that describe your product and where your brand is headed?</p>
                    </div>
                </div>
            </div>
            <div class="o-grid__list-3--md o-grid__list-3--lg block__bordered">
                <div class="block__bordered-content">
                    <div class="block__bordered-order futura-title">Up Next...</div>

                    <h2 class="block__bordered-title text-visibility">CONCEPTUALIZE</h2>

                    <div class="block__bordered-text text-visibility">
                        <p>With all that information, we can get our hands dirty and begin working on the product. Let the fun begin!</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
