<section class="post-list post-list--thoughts">
    <article class="post-list__item" style="background-image:url(https://byjakt.com/wp-content/uploads/2018/04/Financials-purple.png)">
        <a class="post-list__link text-visibility" title="Premalink for Jakt 2019 Initiatives" rel="bookmark" href="https://byjakt.com/jakt-2019-initiatives/" style="background-color:#000000">Jakt 2019 Initiatives</a>
        <div class="post-list__content">
            <h3 class="post-list__title">
                <a href="https://byjakt.com/jakt-2019-initiatives/" class="post-list__title-link text-visibility">Jakt 2019 Initiatives</a>
            </h3>
            <h4 class="post-list__subtitle text-visibility"> </h4>
        </div>
    </article>
    <article class="post-list__item" style="background-image:url(https://byjakt.com/wp-content/uploads/2017/10/Financials2.png)">
        <a class="post-list__link text-visibility" title="Premalink for Jakt 2018 Yearly Financial Results" rel="bookmark" href="https://byjakt.com/jakt-2018-yearly-financial-results/" style="background-color:#000000">Jakt 2018 Yearly Financial Results</a>
        <div class="post-list__content">
            <h3 class="post-list__title">
                <a href="https://byjakt.com/jakt-2018-yearly-financial-results/" class="post-list__title-link text-visibility">Jakt 2018 Yearly Financial Results</a>
            </h3>
            <h4 class="post-list__subtitle text-visibility"> </h4>
        </div>
    </article>
    <article class="post-list__item" style="background-image:url(https://byjakt.com/wp-content/uploads/2018/06/Financials-Dark-Blues.png)">
        <a class="post-list__link text-visibility" title="Premalink for Jakt December 2018 Financial Results" rel="bookmark" href="https://byjakt.com/jakt-december-2018-financial-results/" style="background-color:#000000">Jakt December 2018 Financial Results</a>
        <div class="post-list__content">
            <h3 class="post-list__title">
                <a href="https://byjakt.com/jakt-december-2018-financial-results/" class="post-list__title-link text-visibility">Jakt December 2018 Financial Results</a>
            </h3>
            <h4 class="post-list__subtitle text-visibility"> </h4>
        </div>
    </article>
    <article class="post-list__item" style="background-image:url(https://byjakt.com/wp-content/uploads/2017/07/Financials1.png)">
        <a class="post-list__link text-visibility" title="Premalink for Jakt November 2018 Financial Results" rel="bookmark" href="https://byjakt.com/jakt-november-2018-financial-results/" style="background-color:#000000">Jakt November 2018 Financial Results</a>
        <div class="post-list__content">
            <h3 class="post-list__title">
                <a href="https://byjakt.com/jakt-november-2018-financial-results/" class="post-list__title-link text-visibility">Jakt November 2018 Financial Results</a>
            </h3>
            <h4 class="post-list__subtitle text-visibility"> </h4>
        </div>
    </article>
    <article class="post-list__item" style="background-image:url(https://byjakt.com/wp-content/uploads/2018/12/Screen-Shot-2018-12-04-at-4.19.02-PM.png)">
        <a class="post-list__link text-visibility" title="Premalink for Announcing Cody Musser as President at Jakt" rel="bookmark" href="https://byjakt.com/announcing-cody-musser-as-president-at-jakt/" style="background-color:#000000">Announcing Cody Musser as President at Jakt</a>
        <div class="post-list__content">
            <h3 class="post-list__title">
                <a href="https://byjakt.com/announcing-cody-musser-as-president-at-jakt/" class="post-list__title-link text-visibility">Announcing Cody Musser as President at Jakt</a>
            </h3>
            <h4 class="post-list__subtitle text-visibility"> </h4>
        </div>
    </article>
    <article class="post-list__item" style="background-image:url(https://byjakt.com/wp-content/uploads/2017/10/Financials2.png)">
        <a class="post-list__link text-visibility" title="Premalink for Jakt October 2018 Financial Results" rel="bookmark" href="https://byjakt.com/jakt-october-2018-financial-results/" style="background-color:#000000">Jakt October 2018 Financial Results</a>
        <div class="post-list__content">
            <h3 class="post-list__title">
                <a href="https://byjakt.com/jakt-october-2018-financial-results/" class="post-list__title-link text-visibility">Jakt October 2018 Financial Results</a>
            </h3>
            <h4 class="post-list__subtitle text-visibility"> </h4>
        </div>
    </article>
    <article class="post-list__item" style="background-image:url(https://byjakt.com/wp-content/uploads/2018/10/early-stage-business-growth-hack.jpg)">
        <a class="post-list__link text-visibility" title="Premalink for Early Stage Business Growth Hack" rel="bookmark" href="https://byjakt.com/early-stage-business-growth-hack/" style="background-color:#000000">Early Stage Business Growth Hack</a>
        <div class="post-list__content">
            <h3 class="post-list__title">
                <a href="https://byjakt.com/early-stage-business-growth-hack/" class="post-list__title-link text-visibility">Early Stage Business Growth Hack</a>
            </h3>
            <h4 class="post-list__subtitle text-visibility"> Why hiring a digital agency keeps your business out of the fishbowl.</h4>
        </div>
    </article>
    <article class="post-list__item" style="background-image:url(https://byjakt.com/wp-content/uploads/2018/04/Financials-purple.png)">
        <a class="post-list__link text-visibility" title="Premalink for Jakt September 2018 Financial Results" rel="bookmark" href="https://byjakt.com/jakt-september-2018-financial-results/" style="background-color:#000000">Jakt September 2018 Financial Results</a>
        <div class="post-list__content">
            <h3 class="post-list__title">
                <a href="https://byjakt.com/jakt-september-2018-financial-results/" class="post-list__title-link text-visibility">Jakt September 2018 Financial Results</a>
            </h3>
            <h4 class="post-list__subtitle text-visibility"> </h4>
        </div>
    </article>
    <article class="post-list__item" style="background-image:url(https://byjakt.com/wp-content/uploads/2018/09/minimum-viable-product.jpg)">
        <a class="post-list__link text-visibility" title="Premalink for Is Minimum Viable Product the Best MVP? We Think Otherwise." rel="bookmark" href="https://byjakt.com/minimum-viable-product-vs-maximum-value-product/" style="background-color:#000000">Is Minimum Viable Product the Best MVP? We Think Otherwise.</a>
        <div class="post-list__content">
            <h3 class="post-list__title">
                <a href="https://byjakt.com/minimum-viable-product-vs-maximum-value-product/" class="post-list__title-link text-visibility">Is Minimum Viable Product the Best MVP? We Think Otherwise.</a>
            </h3>
            <h4 class="post-list__subtitle text-visibility"> </h4>
        </div>
    </article>
    <article class="post-list__item" style="background-image:url(https://byjakt.com/wp-content/uploads/2018/09/design-an-ico-website.jpg)">
        <a class="post-list__link text-visibility" title="Premalink for 5 Things Every ICO Website Needs" rel="bookmark" href="https://byjakt.com/5-things-every-ico-website-needs/" style="background-color:#000000">5 Things Every ICO Website Needs</a>
        <div class="post-list__content">
            <h3 class="post-list__title">
                <a href="https://byjakt.com/5-things-every-ico-website-needs/" class="post-list__title-link text-visibility">5 Things Every ICO Website Needs</a>
            </h3>
            <h4 class="post-list__subtitle text-visibility"> Marketing ICO Websites: A Breakdown</h4>
        </div>
    </article>
</section>
