<section class="post-list__load_more">
    <img src="https://byjakt.com/wp-content/themes/jakt/public/assets/images/loading.gif" alt="" class="is-hidden js-loading-more">
    <button class="o-btn o-btn--dark-submit js-load-more text-visibility" data-total-pages="4" data-post-term="" data-post-term-type="">Load more</button>
</section>
