<section class="hero hero--thoughts">
    <article class="o-container">
        <div class="hero__wrapper">
            <h1 class="hero__title futura-title">Thoughts</h1>

            <div class="hero__content hero__content--thoughts text-visibility">
                <p>Innovation starts with ideas. See which new technologies we&#8217;re thinking about and the ideas we&#8217;re using to shape the future of business and technology.</p>
            </div>

        </div>
    </article>
</section>
