<section class="section section--fullscreen section--light section--contact"
         data-fullpage-section="contact">
    <article class="section__content section__content--fullscreen section__content--light section__content--contact section__content--center section__content--contact"
             style="background-image:url(https://byjakt.com/wp-content/uploads/2017/09/bg-stars-light-contact.svg)">

        <div class="o-container">
            <div class="section__content-wrapper">
                <h2 class="section__content-title section__content-title--light futura-title">
                    Want to work with us?
                </h2>

                <div class="section__content-text text-visibility">
                    <p><span>Connect with our team regarding an upcoming project or transformation need. </span></p>
                    <div id="contact-hp">
                        <noscript class="ninja-forms-noscript-message">
                            Notice: JavaScript is required for this content.
                        </noscript>
                        <style>

                            /* FIELDS STYLES */

                            .nf-form-content .nf-field-container #nf-field-35-wrap .nf-field-label label {
                                border-bottom: 1px solid black;
                                border-top: none;
                                border-left: none;
                                border-right: none;
                                padding-bottom: 10px;
                            }

                            .nf-form-content .nf-field-container #nf-field-35-wrap .nf-field-element .ninja-forms-field {
                                border-bottom: 1px solid black;
                                border-top: none;
                                border-left: none;
                                border-right: none;
                                padding-bottom: 10px;
                            }

                            .nf-form-content .nf-field-container #nf-field-37-wrap .nf-field-label label {
                                border-bottom: 1px solid black;
                                border-top: none;
                                border-left: none;
                                border-right: none;
                                padding-bottom: 10px;
                            }

                            .nf-form-content .nf-field-container #nf-field-37-wrap .nf-field-element .ninja-forms-field {
                                border-bottom: 1px solid black;
                                border-top: none;
                                border-left: none;
                                border-right: none;
                                padding-bottom: 10px;
                            }

                            .nf-form-content .nf-field-container #nf-field-39-wrap .nf-field-label label {
                                border-bottom: 1px solid black;
                                border-top: none;
                                border-left: none;
                                border-right: none;
                                padding-bottom: 10px;
                            }

                            .nf-form-content .nf-field-container #nf-field-39-wrap .nf-field-element .ninja-forms-field {
                                border-bottom: 1px solid black;
                                border-top: none;
                                border-left: none;
                                border-right: none;
                                padding-bottom: 10px;
                            }

                            .nf-form-content .nf-field-container #nf-field-32-wrap .nf-field-label label {
                                border-bottom: 1px solid black;
                                border-top: none;
                                border-left: none;
                                border-right: none;
                                padding-bottom: 10px;
                            }

                            .nf-form-content .nf-field-container #nf-field-32-wrap .nf-field-element .ninja-forms-field {
                                border-bottom: 1px solid black;
                                border-top: none;
                                border-left: none;
                                border-right: none;
                                padding-bottom: 10px;
                            }

                            .nf-form-content .nf-field-container #nf-field-34-wrap {
                            }
                        </style><div id="nf-form-3-cont" class="nf-form-cont" aria-live="polite" aria-labelledby="nf-form-title-3" aria-describedby="nf-form-errors-3" role="form">

                            <div class="nf-loading-spinner"></div>

                        </div>
                        <!-- TODO: Move to Template File. -->
                        <script>var formDisplay = 1; var nfForms = nfForms || []; var form = []; form.id = '3'; form.settings = { "objectType": "Form Setting", "editActive": true, "title": "Project Contact Form - Homepage", "key": "", "created_at": "2018-08-17 14:35:44", "default_label_pos": "above", "conditions": [], "show_title": 0, "clear_complete": "1", "hide_complete": 0, "wrapper_class": "", "element_class": "", "add_submit": "1", "logged_in": "", "not_logged_in_msg": "", "sub_limit_number": "", "sub_limit_msg": "", "calculations": [], "formContentData": [{ "formContentData": [{ "order": 1, "cells": [{ "order": 0, "fields": ["name_1534537224848"], "width": 50 }, { "order": 1, "fields": ["company_1534531178005"], "width": 50 }] }, { "order": 2, "cells": [{ "order": 0, "fields": ["phone_1534537284943"], "width": 50 }, { "order": 1, "fields": ["email_address_1534532640403"], "width": 50 }] }, { "order": 5, "cells": [{ "order": 0, "fields": ["submit_1534532937972"], "width": "100" }] }, { "order": 6, "cells": [{ "order": 0, "fields": ["ga_medium"], "width": "100" }] }, { "order": 7, "cells": [{ "order": 0, "fields": ["ga_campaign"], "width": "100" }] }, { "order": 8, "cells": [{ "order": 0, "fields": ["ga_source"], "width": "100" }] }, { "order": 9, "cells": [{ "order": 0, "fields": ["ga_term"], "width": "100" }] }, { "order": 10, "cells": [{ "order": 0, "fields": ["ga_content"], "width": "100" }] }, { "order": 11, "cells": [{ "order": 0, "fields": ["landing_page"], "width": "100" }] }, { "order": 12, "cells": [{ "order": 0, "fields": ["conversion_page"], "width": "100" }] }], "order": 0, "type": "part", "clean": true, "title": "Part Title", "key": "kcphlfpk" }], "container_styles_background-color": "", "container_styles_border": "", "container_styles_border-style": "", "container_styles_border-color": "", "container_styles_color": "", "container_styles_height": "", "container_styles_width": "", "container_styles_font-size": "", "container_styles_margin": "", "container_styles_padding": "", "container_styles_display": "", "container_styles_float": "", "container_styles_show_advanced_css": "0", "container_styles_advanced": "", "title_styles_background-color": "", "title_styles_border": "", "title_styles_border-style": "", "title_styles_border-color": "", "title_styles_color": "", "title_styles_height": "", "title_styles_width": "", "title_styles_font-size": "", "title_styles_margin": "", "title_styles_padding": "", "title_styles_display": "", "title_styles_float": "", "title_styles_show_advanced_css": "0", "title_styles_advanced": "", "row_styles_background-color": "", "row_styles_border": "", "row_styles_border-style": "", "row_styles_border-color": "", "row_styles_color": "", "row_styles_height": "", "row_styles_width": "", "row_styles_font-size": "", "row_styles_margin": "", "row_styles_padding": "", "row_styles_display": "", "row_styles_show_advanced_css": "0", "row_styles_advanced": "", "row-odd_styles_background-color": "", "row-odd_styles_border": "", "row-odd_styles_border-style": "", "row-odd_styles_border-color": "", "row-odd_styles_color": "", "row-odd_styles_height": "", "row-odd_styles_width": "", "row-odd_styles_font-size": "", "row-odd_styles_margin": "", "row-odd_styles_padding": "", "row-odd_styles_display": "", "row-odd_styles_show_advanced_css": "0", "row-odd_styles_advanced": "", "success-msg_styles_background-color": "", "success-msg_styles_border": "", "success-msg_styles_border-style": "", "success-msg_styles_border-color": "", "success-msg_styles_color": "", "success-msg_styles_height": "", "success-msg_styles_width": "", "success-msg_styles_font-size": "", "success-msg_styles_margin": "", "success-msg_styles_padding": "", "success-msg_styles_display": "", "success-msg_styles_show_advanced_css": "0", "success-msg_styles_advanced": "", "error_msg_styles_background-color": "", "error_msg_styles_border": "", "error_msg_styles_border-style": "", "error_msg_styles_border-color": "", "error_msg_styles_color": "", "error_msg_styles_height": "", "error_msg_styles_width": "", "error_msg_styles_font-size": "", "error_msg_styles_margin": "", "error_msg_styles_padding": "", "error_msg_styles_display": "", "error_msg_styles_show_advanced_css": 0, "error_msg_styles_advanced": "", "changeEmailErrorMsg": "Please enter a valid email address!", "changeDateErrorMsg": "Please enter a valid date!", "confirmFieldErrorMsg": "These fields must match!", "fieldNumberNumMinError": "Number Min Error", "fieldNumberNumMaxError": "Number Max Error", "fieldNumberIncrementBy": "Please increment by ", "formErrorsCorrectErrors": "Please correct errors before submitting this form.", "validateRequiredField": "This is a required field.", "honeypotHoneypotError": "Honeypot Error", "fieldsMarkedRequired": "Fields marked with an <span class=\"ninja-forms-req-symbol\">*<\/span> are required", "currency": "", "unique_field_error": "A form with this value has already been submitted.", "mp_breadcrumb": 1, "mp_progress_bar": 1, "mp_display_titles": 0, "breadcrumb_container_styles_show_advanced_css": 0, "breadcrumb_buttons_styles_show_advanced_css": 0, "breadcrumb_button_hover_styles_show_advanced_css": 0, "breadcrumb_active_button_styles_show_advanced_css": 0, "progress_bar_container_styles_show_advanced_css": 0, "progress_bar_fill_styles_show_advanced_css": 0, "part_titles_styles_show_advanced_css": 0, "navigation_container_styles_show_advanced_css": 0, "previous_button_styles_show_advanced_css": 0, "next_button_styles_show_advanced_css": 0, "navigation_hover_styles_show_advanced_css": 0, "drawerDisabled": false, "ninjaForms": "Ninja Forms", "fieldTextareaRTEInsertLink": "Insert Link", "fieldTextareaRTEInsertMedia": "Insert Media", "fieldTextareaRTESelectAFile": "Select a file", "fileUploadOldCodeFileUploadInProgress": "File Upload in Progress.", "fileUploadOldCodeFileUpload": "FILE UPLOAD", "currencySymbol": false, "thousands_sep": ",", "decimal_point": ".", "dateFormat": "m\/d\/Y", "startOfWeek": "1", "of": "of", "previousMonth": "Previous Month", "nextMonth": "Next Month", "months": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], "monthsShort": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"], "weekdays": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], "weekdaysShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"], "weekdaysMin": ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"], "currency_symbol": "", "beforeForm": "", "beforeFields": "", "afterFields": "", "afterForm": "" }; form.fields = [{ "objectType": "Field", "objectDomain": "fields", "editActive": false, "order": 1, "label": "Name", "type": "firstname", "key": "name_1534537224848", "label_pos": "hidden", "required": 1, "default": "", "placeholder": "Name", "container_class": "", "element_class": "", "admin_label": "", "help_text": "<p><br><\/p>", "custom_name_attribute": "fname", "personally_identifiable": 1, "wrap_styles_show_advanced_css": 0, "label_styles_show_advanced_css": 1, "element_styles_show_advanced_css": 1, "cellcid": "c4008", "drawerDisabled": false, "wrap_styles_border": "", "wrap_styles_width": "", "wrap_styles_margin": "", "wrap_styles_padding": "", "wrap_styles_float": "", "wrap_styles_advanced": "", "label_styles_border": "", "label_styles_width": "", "label_styles_font-size": "", "label_styles_margin": "", "label_styles_padding": "", "label_styles_float": "", "label_styles_advanced": "    border-bottom: 1px solid black;\n    border-top: none;\n    border-left: none;\n    border-right: none;\n    padding-bottom: 10px;", "element_styles_border": "", "element_styles_width": "", "element_styles_font-size": "", "element_styles_margin": "", "element_styles_padding": "", "element_styles_float": "", "element_styles_advanced": "    border-bottom: 1px solid black;\n    border-top: none;\n    border-left: none;\n    border-right: none;\n    padding-bottom: 10px;", "id": 35, "beforeField": "", "afterField": "", "parentType": "firstname", "element_templates": ["firstname", "input"], "old_classname": "", "wrap_template": "wrap" }, { "objectType": "Field", "objectDomain": "fields", "editActive": false, "order": 2, "label": "Company", "type": "textbox", "key": "company_1534531178005", "label_pos": "hidden", "required": 1, "default": "", "placeholder": "Company", "container_class": "", "element_class": "", "input_limit": "", "input_limit_type": "characters", "input_limit_msg": "Character(s) left", "manual_key": false, "admin_label": "", "help_text": "", "mask": "", "custom_mask": "", "custom_name_attribute": "", "personally_identifiable": "", "wrap_styles_show_advanced_css": 0, "label_styles_show_advanced_css": 1, "element_styles_show_advanced_css": 1, "cellcid": "c4011", "drawerDisabled": false, "wrap_styles_border": "", "wrap_styles_width": "", "wrap_styles_margin": "", "wrap_styles_padding": "", "wrap_styles_float": "", "label_styles_border": "", "label_styles_width": "", "label_styles_font-size": "", "label_styles_margin": "", "label_styles_padding": "", "label_styles_float": "", "label_styles_advanced": "    border-bottom: 1px solid black;\n    border-top: none;\n    border-left: none;\n    border-right: none;\n    padding-bottom: 10px;", "element_styles_border": "", "element_styles_width": "", "element_styles_font-size": "", "element_styles_margin": "", "element_styles_padding": "", "element_styles_float": "", "element_styles_advanced": "    border-bottom: 1px solid black;\n    border-top: none;\n    border-left: none;\n    border-right: none;\n    padding-bottom: 10px;", "cellOrder": 1, "id": 37, "beforeField": "", "afterField": "", "parentType": "textbox", "element_templates": ["textbox", "input"], "old_classname": "", "wrap_template": "wrap" }, { "objectType": "Field", "objectDomain": "fields", "editActive": false, "order": 3, "label": "Phone", "type": "phone", "cellcid": "c4014", "key": "phone_1534537284943", "label_pos": "hidden", "required": 1, "default": "", "placeholder": "Phone Number", "container_class": "", "element_class": "", "input_limit": "", "input_limit_type": "characters", "input_limit_msg": "Character(s) left", "manual_key": false, "admin_label": "", "help_text": "", "mask": "", "custom_mask": "", "custom_name_attribute": "phone", "personally_identifiable": 1, "wrap_styles_border": "", "wrap_styles_width": "", "wrap_styles_margin": "", "wrap_styles_padding": "", "wrap_styles_float": "", "wrap_styles_show_advanced_css": 0, "label_styles_border": "", "label_styles_width": "", "label_styles_font-size": "", "label_styles_margin": "", "label_styles_padding": "", "label_styles_float": "", "label_styles_show_advanced_css": 1, "label_styles_advanced": "    border-bottom: 1px solid black;\n    border-top: none;\n    border-left: none;\n    border-right: none;\n    padding-bottom: 10px;", "element_styles_border": "", "element_styles_width": "", "element_styles_font-size": "", "element_styles_margin": "", "element_styles_padding": "", "element_styles_float": "", "element_styles_show_advanced_css": 1, "element_styles_advanced": "    border-bottom: 1px solid black;\n    border-top: none;\n    border-left: none;\n    border-right: none;\n    padding-bottom: 10px;", "cellOrder": 1, "drawerDisabled": false, "id": 39, "beforeField": "", "afterField": "", "parentType": "textbox", "element_templates": ["tel", "textbox", "input"], "old_classname": "", "wrap_template": "wrap" }, { "objectType": "Field", "objectDomain": "fields", "editActive": false, "order": 4, "label": "Email Address", "key": "email_address_1534532640403", "type": "email", "created_at": "2018-08-17 14:35:44", "label_pos": "hidden", "required": 1, "placeholder": "Email Address", "default": "", "wrapper_class": "", "element_class": "", "container_class": "", "admin_label": "", "help_text": "", "desc_text": "", "wrap_styles_background-color": "", "wrap_styles_border": "", "wrap_styles_border-style": "", "wrap_styles_border-color": "", "wrap_styles_color": "", "wrap_styles_height": "", "wrap_styles_width": "", "wrap_styles_font-size": "", "wrap_styles_margin": "", "wrap_styles_padding": "", "wrap_styles_display": "", "wrap_styles_float": "", "wrap_styles_show_advanced_css": 0, "wrap_styles_advanced": "", "label_styles_background-color": "", "label_styles_border": "", "label_styles_border-style": "", "label_styles_border-color": "", "label_styles_color": "", "label_styles_height": "", "label_styles_width": "", "label_styles_font-size": "", "label_styles_margin": "", "label_styles_padding": "", "label_styles_display": "", "label_styles_float": "", "label_styles_show_advanced_css": 1, "label_styles_advanced": "    border-bottom: 1px solid black;\n    border-top: none;\n    border-left: none;\n    border-right: none;\n    padding-bottom: 10px;", "element_styles_background-color": "", "element_styles_border": "", "element_styles_border-style": "", "element_styles_border-color": "", "element_styles_color": "", "element_styles_height": "", "element_styles_width": "", "element_styles_font-size": "", "element_styles_margin": "", "element_styles_padding": "", "element_styles_display": "", "element_styles_float": "", "element_styles_show_advanced_css": 1, "element_styles_advanced": "    border-bottom: 1px solid black;\n    border-top: none;\n    border-left: none;\n    border-right: none;\n    padding-bottom: 10px;", "cellcid": "c4016", "custom_name_attribute": "email", "personally_identifiable": 1, "drawerDisabled": false, "id": 32, "beforeField": "", "afterField": "", "parentType": "email", "element_templates": ["email", "input"], "old_classname": "", "wrap_template": "wrap" }, { "objectType": "Field", "objectDomain": "fields", "editActive": false, "order": 5, "label": "Get In Touch", "key": "submit_1534532937972", "type": "submit", "created_at": "2018-08-17 14:35:44", "processing_label": "Processing", "container_class": "", "element_class": "", "wrap_styles_background-color": "", "wrap_styles_border": "", "wrap_styles_border-style": "", "wrap_styles_border-color": "", "wrap_styles_color": "", "wrap_styles_height": "", "wrap_styles_width": "", "wrap_styles_font-size": "", "wrap_styles_margin": "", "wrap_styles_padding": "", "wrap_styles_display": "", "wrap_styles_float": "", "wrap_styles_show_advanced_css": 1, "wrap_styles_advanced": "", "label_styles_background-color": "", "label_styles_border": "", "label_styles_border-style": "", "label_styles_border-color": "", "label_styles_color": "", "label_styles_height": "", "label_styles_width": "", "label_styles_font-size": "", "label_styles_margin": "", "label_styles_padding": "", "label_styles_display": "", "label_styles_float": "", "label_styles_show_advanced_css": 0, "label_styles_advanced": "", "element_styles_background-color": "", "element_styles_border": "", "element_styles_border-style": "", "element_styles_border-color": "", "element_styles_color": "", "element_styles_height": "", "element_styles_width": "", "element_styles_font-size": "", "element_styles_margin": "", "element_styles_padding": "", "element_styles_display": "", "element_styles_float": "", "element_styles_show_advanced_css": 0, "element_styles_advanced": "", "submit_element_hover_styles_background-color": "", "submit_element_hover_styles_border": "", "submit_element_hover_styles_border-style": "", "submit_element_hover_styles_border-color": "", "submit_element_hover_styles_color": "", "submit_element_hover_styles_height": "", "submit_element_hover_styles_width": "", "submit_element_hover_styles_font-size": "", "submit_element_hover_styles_margin": "", "submit_element_hover_styles_padding": "", "submit_element_hover_styles_display": "", "submit_element_hover_styles_float": "", "submit_element_hover_styles_show_advanced_css": 0, "submit_element_hover_styles_advanced": "", "cellcid": "c4019", "drawerDisabled": false, "id": 34, "beforeField": "", "afterField": "", "label_pos": "above", "parentType": "textbox", "element_templates": ["submit", "button", "input"], "old_classname": "", "wrap_template": "wrap-no-label" }, { "objectType": "Field", "objectDomain": "fields", "editActive": false, "order": 999, "type": "hidden", "label": "GA_Medium", "key": "ga_medium", "default": "", "admin_label": "", "wrap_styles_show_advanced_css": 0, "label_styles_show_advanced_css": 0, "element_styles_show_advanced_css": 0, "cellcid": "c4242", "manual_key": true, "drawerDisabled": false, "id": 40, "beforeField": "", "afterField": "", "label_pos": "above", "parentType": "hidden", "element_templates": ["hidden", "input"], "old_classname": "", "wrap_template": "wrap-no-label" }, { "objectType": "Field", "objectDomain": "fields", "editActive": false, "order": 999, "type": "hidden", "label": "GA_Campaign", "key": "ga_campaign", "default": "", "admin_label": "ga_campaign", "wrap_styles_show_advanced_css": 0, "label_styles_show_advanced_css": 0, "element_styles_show_advanced_css": 0, "cellcid": "c4318", "manual_key": true, "id": 41, "beforeField": "", "afterField": "", "label_pos": "above", "parentType": "hidden", "element_templates": ["hidden", "input"], "old_classname": "", "wrap_template": "wrap-no-label" }, { "objectType": "Field", "objectDomain": "fields", "editActive": false, "order": 999, "type": "hidden", "label": "GA_Source", "key": "ga_source", "default": "", "admin_label": "ga_source", "wrap_styles_show_advanced_css": 0, "label_styles_show_advanced_css": 0, "element_styles_show_advanced_css": 0, "cellcid": "c4397", "manual_key": true, "id": 42, "beforeField": "", "afterField": "", "label_pos": "above", "parentType": "hidden", "element_templates": ["hidden", "input"], "old_classname": "", "wrap_template": "wrap-no-label" }, { "objectType": "Field", "objectDomain": "fields", "editActive": false, "order": 999, "type": "hidden", "label": "GA_Term", "key": "ga_term", "default": "", "admin_label": "ga_term", "wrap_styles_show_advanced_css": 0, "label_styles_show_advanced_css": 0, "element_styles_show_advanced_css": 0, "cellcid": "c4479", "manual_key": true, "id": 43, "beforeField": "", "afterField": "", "label_pos": "above", "parentType": "hidden", "element_templates": ["hidden", "input"], "old_classname": "", "wrap_template": "wrap-no-label" }, { "objectType": "Field", "objectDomain": "fields", "editActive": false, "order": 999, "type": "hidden", "label": "GA_Content", "key": "ga_content", "default": "", "admin_label": "ga_content", "wrap_styles_show_advanced_css": 0, "label_styles_show_advanced_css": 0, "element_styles_show_advanced_css": 0, "cellcid": "c4564", "manual_key": true, "drawerDisabled": false, "id": 44, "beforeField": "", "afterField": "", "label_pos": "above", "parentType": "hidden", "element_templates": ["hidden", "input"], "old_classname": "", "wrap_template": "wrap-no-label" }, { "objectType": "Field", "objectDomain": "fields", "editActive": false, "order": 999, "type": "hidden", "label": "Landing Page", "key": "landing_page", "default": "", "admin_label": "landing_page", "wrap_styles_show_advanced_css": 0, "label_styles_show_advanced_css": 0, "element_styles_show_advanced_css": 0, "cellcid": "c4652", "manual_key": true, "id": 45, "beforeField": "", "afterField": "", "label_pos": "above", "parentType": "hidden", "element_templates": ["hidden", "input"], "old_classname": "", "wrap_template": "wrap-no-label" }, { "objectType": "Field", "objectDomain": "fields", "editActive": false, "order": 999, "type": "hidden", "label": "Conversion Page", "key": "conversion_page", "default": "", "admin_label": "conversion_page", "wrap_styles_show_advanced_css": 0, "label_styles_show_advanced_css": 0, "element_styles_show_advanced_css": 0, "cellcid": "c5760", "manual_key": true, "drawerDisabled": false, "id": 46, "beforeField": "", "afterField": "", "label_pos": "above", "parentType": "hidden", "element_templates": ["hidden", "input"], "old_classname": "", "wrap_template": "wrap-no-label" }]; nfForms.push(form);</script>
                        <script id="tmpl-nf-mp-form-content" type="text/template">
                            <div class="nf-mp-header"></div>
                            <div class="nf-mp-body"></div>
                            <div class="nf-mp-footer"></div>
                        </script>


                        <script id="tmpl-nf-mp-header" type="text/template">
                            {{{ data.renderProgressBar() }}}
                            {{{ data.renderBreadcrumbs() }}}
                            {{{ data.renderPartTitle() }}}
                        </script>
                        <script id="tmpl-nf-mp-part-title" type="text/template">
                            <h3>
                                {{{ data.title }}}
                            </h3>
                        </script>

                        <script id="tmpl-nf-mp-footer" type="text/template">
                            {{{ data.renderNextPrevious() }}}
                        </script>

                        <script id="tmpl-nf-mp-next-previous" type="text/template">
                            <ul class="nf-next-previous">
                                <# if ( data.showPrevious ) { #>
                                    <li class="nf-previous-item">
                                        <input type="button" class="nf-previous" value="{{{ data.prevLabel }}}" />
                                    </li>
                                    <# } #>

                                        <# if ( data.showNext ) { #>
                                            <li class="nf-next-item">
                                                <input type="button" class="nf-next" value="{{{ data.nextLabel }}}" />
                                            </li>
                                            <# } #>
                            </ul>
                        </script>

                        <script id="tmpl-nf-mp-breadcrumbs" type="text/template">
                            <ul class="nf-breadcrumbs">
                                <# _.each( data.parts, function( part, index ) { #>
                                    <li class="{{{ ( data.currentIndex == index ) ? 'active' : '' }}} {{{ ( part.errors ) ? 'errors' : '' }}}">
                                        <a href="#" class="nf-breadcrumb" data-index="{{{ index }}}">{{{ ( part.errors ) ? '' : '' }}} {{{ part.title }}}</a>
                                    </li>
                                    <# } ); #>
                            </ul>
                        </script>

                        <script id="tmpl-nf-mp-progress-bar" type="text/template">
                            <div class="nf-progress-container">
                                <div class="nf-progress" style="width: {{{ data.percent }}}%;"></div>
                            </div>
                        </script>
                        <script id="nf-tmpl-cell" type="text/template">
                            <nf-fields></nf-fields>
                        </script>

                        <script id="nf-tmpl-row" type="text/template">
                            <nf-cells></nf-cells>
                        </script>

                    </div>
                    <div id="contact-hp-mobile"><a class="o-link o-link--size-normal o-link--normal text-visibility" href="https://byjakt.com/contact/">let&#8217;s talk</a></div>

                </div>


            </div>
        </div>


</section>
