<section class="section section--fullscreen section--dark section--who-we-are"
         data-fullpage-section="who-we-are">
    <article class="section__content section__content--fullscreen section__content--dark section__content--who-we-are section__content--left section__content--who-we-are"
             style="background-image:url(https://byjakt.com/wp-content/uploads/2017/09/bg-why.svg)">

    <div class="o-container">
        <div class="section__content-wrapper">
            <h2 class="section__content-title section__content-title--dark futura-title">
                Who We Are
            </h2>
            <div class="section__content-text section__content-text--underline text-visibility">
                <p><span style="font-weight: 400;">Jakt is a digital product &amp; innovation studio. We partner with companies of all sizes, from startups to enterprises, to create bespoke digital products that solve problems. How do we do this? Through a mix of product strategy, business strategy, design, software development and marketing. We aim to positively impact the lives of 100 million people through solutions we’ve created by 2027. </span></p>

            </div>
        </div>
    </div>
    <article>
</section>
