<footer class="footer__home">
    <ul class="footer__home-menu">
        <li class="footer__home-menu-item">
            <a class="footer__home-menu-link text-visibility" target="" href="/partners/">Partners</a>
        </li>
        <li class="footer__home-menu-item">
            <a class="footer__home-menu-link text-visibility" target="" href="/thoughts/">Thoughts</a>
        </li>
        <li class="footer__home-menu-item">
            <a class="footer__home-menu-link text-visibility" target="_blank" href="">Pictures</a>
        </li>
        <li class="footer__home-menu-item">
            <a class="footer__home-menu-link text-visibility" target="" href="">Jobs</a>
        </li>
    </ul>

    <div class="footer__home-content">
        <div class="footer__home-logo">
            <a href="/" class="footer__home-link">
                <img class="footer__logo-img" src="https://byjakt.com/wp-content/themes/jakt/public/assets/images/jakt-grey.svg" alt="JAKT" width="51" height="30" />
            </a>
        </div>
        <div class="footer__home-social-media">
            <nav>
                <a class="footer__home-social-media-item" target="_blank" href="http://twitter.com/byjakt"><i class="ti-twitter-alt"></i></a>
                <a class="footer__home-social-media-item" target="_blank" href="http://facebook.com/byjakt"><i class="ti-facebook"></i></a>
                <a class="footer__home-social-media-item" target="_blank" href="https://www.instagram.com/alexey.saechnikov/"><i class="ti-instagram"></i></a>
                <a class="footer__home-social-media-item" target="_blank" href="https://medium.com/thoughts-byjakt/"><i class="fa fa-medium"></i></a>
            </nav>

        </div>
    </div>
    <div class="footer__home-content">
        <div class="footer__home-copy text-visibility">© Copyright 2019 Saechnikov</div>
    </div>
</footer>   
    
@*<div class="footer-contact-mobile">
    <div class="footer-contact-mobile__content">
        <a href="https://byjakt.com/contact/" class="footer-contact-mobile__link text-visibility">💬 Tap to get in touch</a>
    </div>
</div>*@
