<header class="header">
    <h2 class="header__logo" style="color:#000000">
        

        <a href="http://dev.saechnikov.com/" style="color:black; text-decoration: none;">Saechnikov.com</a>

        @*<a href="/" class="header__logo-link">
            <img class="header__logo-img" src="https://byjakt.com/wp-content/themes/jakt/public/assets/images/jakt-dark-logo.svg" alt="JAKT" width="67" height="39"/>
        </a>*@
    </h2>
    <nav class="header__menu">
        <a class="header__menu-item text-visibility  menu-item menu-item-type-post_type menu-item-object-page menu-item-45" target="" href="/Process">Process</a>
        <a class="header__menu-item text-visibility  menu-item menu-item-type-post_type menu-item-object-page menu-item-46" target="" href="/Partners">Partners</a>
        <a class="header__menu-item text-visibility  menu-item menu-item-type-post_type menu-item-object-page menu-item-99" target="" href="/Thoughts">Thoughts</a>
        <a class="header__menu-item text-visibility  menu-item menu-item-type-custom menu-item-object-custom menu-item-729" target="" href="/Jobs">Jobs</a>
        <a class="header__menu-item text-visibility  menu-item menu-item-type-post_type menu-item-object-page menu-item-501" target="" href="/Contact">Contact</a>
    </nav>

    <div class="menu-mobile__button js-menu-mobile-open"><i class="ti-menu"></i></div>

    <div class="menu-mobile js-menu-mobile">
        <div class="menu-mobile__close js-menu-mobile-close"><i class="ti-close"></i></div>
        <div class="menu-mobile__content">
            <ul class="menu-mobile__list">
                @*<li class="menu-mobile__item">
                    <a class="menu-mobile__link text-visibility  menu-item menu-item-type-post_type menu-item-object-page menu-item-45" target="" href="https://byjakt.com/process/">Process</a>
                </li>
                <li class="menu-mobile__item">
                    <a class="menu-mobile__link text-visibility  menu-item menu-item-type-post_type menu-item-object-page menu-item-46" target="" href="https://byjakt.com/partners/">Partners</a>
                </li>
                <li class="menu-mobile__item">
                    <a class="menu-mobile__link text-visibility  menu-item menu-item-type-post_type menu-item-object-page menu-item-99" target="" href="https://byjakt.com/thoughts/">Thoughts</a>
                </li>*@
                <li class="menu-mobile__item">
                    <a class="menu-mobile__link text-visibility  menu-item menu-item-type-custom menu-item-object-custom menu-item-729" target="" href="https://angel.co/jakt/jobs">Jobs</a>
                </li>
                <li class="menu-mobile__item">

                    <a class="menu-mobile__link text-visibility  menu-item menu-item-type-post_type menu-item-object-page menu-item-501" target="" 
                       href="http://dev.saechnikov.com/contact/">Contact</a>
                       @*href="https://byjakt.com/contact/">Contact</a>*@
                </li>
            </ul>

            <div class="menu-mobile__text">
                <a class="menu-mobile__mail text-visibility" href="mailto:fizzy871@gmail.com">fizzy871@gmail.com</a>
            </div>
            <nav class="menu-mobile__social-media">
                <a class="menu-mobile__social-media-item" target="_blank" href="http://twitter.com/byjakt"><i class="ti-twitter-alt"></i></a>
                <a class="menu-mobile__social-media-item" target="_blank" href="http://facebook.com/byjakt"><i class="ti-facebook"></i></a>
                <a class="menu-mobile__social-media-item" target="_blank" href="http://instagram.com/byjakt"><i class="ti-instagram"></i></a>
                <a class="menu-mobile__social-media-item" target="_blank" href="https://medium.com/thoughts-byjakt/"><i class="fa fa-medium"></i></a>
            </nav>
        </div>
    </div>
</header>
