<!doctype html>

<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
    <title>
      @ViewBag.Title - Saechnikov Aleksey
    </title>
    @Html.Partial("_Head")
</head>

<body class="" data-template="base.twig">
    @Html.Partial("_Header")
    @RenderBody()
   
</body>
</html>